.admin {
  .admin-title {
    text-align: center;
    padding: 10px;
  }
  .Modal {
    position: fixed;
    width: 100%;
    .showModal {
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100vh;
      justify-items: center;
      margin: 0 auto;
      color: white;
      .buttonEdit {
        width: 30%;
        display: flex;
        margin: 0 auto;
      }
    }
  }
  .Listcharacter {
    width: 95%;
    thead {
      text-align: center;
    }
    tbody {
      tr {
        td {
          text-align: center;
          font-size: 1.25rem;
          .imgCharacter {
            width: 25%;
          }
        }
      }
    }
  }
}

// CSS CỦA FORMCHARACTER

.formCharacter {
  .buttonEdit {
    width: 30%;
    margin: 0 auto;
    display: flex;
  }
}

// .formCharacter {
//   // position: fixed;
//   .form-group {
//     background:rgba(0,0,0,0.8);
//     width: 100%;
//       height: 100vh;
//       justify-items: center;
//       margin: 0 auto;
//       color: white

//   }
// }
