.App {
  .menu{
    display: grid;
    grid-template-columns: repeat(3,calc(100%/3));
    // width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #77cc6d;
    padding: 15px;
    a{
      text-decoration: none;
      color:white
    }
  }
 
}

@import "./mixin.scss";
@import "./btn.scss";
@import "./admin.scss";
@import "./fighter.scss";
@import "./home.scss";
@import "./modalFighter.scss";
@import "./adminFighter.scss";
@import "./formAdmin.scss";
@import "./Notification.scss";
@import "./loading.scss";