.App {
  background-image: url(/images/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  .menu{
    display: grid;
    grid-template-columns: repeat(3,calc(100%/3));
    // width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #77cc6d;
    padding: 15px;
    a{
      text-decoration: none;
      color:white
    }
  }
 
}
// @media only screen and (max-width: 768px) and (orientation: portrait) {
//   .App {
//       background-position: center center;
//   }
// }

@import "./mixin.scss";
@import "./btn.scss";
@import "./admin.scss";
@import "./fighter.scss";
@import "./home.scss";
@import "./modal.scss";
@import "./nofitication.scss";
@import "./listcharacter.scss";
@import "./HomePage.scss"