.searchCharacter{
    display: flex;
    align-items: center;
    margin-left:50px;
    input{
        border:1px solid black;
        border-radius: 5px;
        height: 30px;
        padding: 5px;
        width:200px;
        &:focus{
            outline:none;
        }
    }
    button{
        margin-left:10px;
        border-radius:5px;
        height: 30px;
        width: 80px;
        padding:0;
    }
}
@media screen and (max-width:900px){
    .searchCharacter{
        margin-left:30px;
        input{
            width:200px;
        }
    }
}
@media screen and (max-width:500px){
    .searchCharacter{
        margin-left:20px;
    }
}