.banner {
    position: relative;
    .bannerBackground {
        img{
            width: 100%;
        }
    }
    .bannerLogo {
        top:0;
        width:100%;
        position:absolute;
        text-align: center;
        z-index:5;
        img{
            width:18%;
        }
    }
    .bannerCharacter {
        width: 30%;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    .bannerLink {
        width: 70%;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .bannerItem{
            position: relative;
            img {
                transition:all 0.5s;
                width: 100%;
            }
            span{
                transition:all 0.5s;
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                color: blanchedalmond;
                font-size: 30px;
                font-style: italic;
            }
            &:hover{
                cursor: pointer;
                img{
                    transform: translate(20px,-20px);
                }
                span{
                    opacity: 1;
                }
            }
        }
    }
}
@media screen and (max-width:900px){
    .banner{
        .bannerLogo{
         img{
             width:20%;
         }
     }
    }
 
}
@media screen and (max-width:500px){
   .banner{
       .bannerLogo{
        img{
            width:17%;
        }
    }
    .bannerLink{
        .bannerItem{
            span{
                font-size: 15px;
            }
        }
    }
   }
}
