.modalFighter {
    background-color:rgba(128, 128, 128, 0.3);
    @include setPosition();
    z-index:10;
    .modalContent {
        animation: closeComponent 0.4s linear ;
        background-color: #000B29;
        width: 80%;
        height: 90%;
        border-radius: 5px;
        overflow-y: scroll;
        @include edtiScrollBar();
        &.show{
            animation: openComponent 0.3s linear;
        }
        .modalHeader{
            i{
                color:white;
                font-size: 30px;
                position: fixed;
                right:0;
            }
        }
        .modalBody {
            margin-top: 50px;
            h5{
                color:yellow;
                text-decoration: underline;
                font-style: italic;
            }
            p{
                font-size:18px;
                color:white;
                margin:0;
                font-weight:500;
            }
            .characterName{
               h3{
                   color: yellow;
                   font-style: italic;
                   text-align: center;
                   text-decoration:underline;
               }
           }
           .characterInfor{
               display: grid;
               grid-template-columns: repeat(3,1fr);
               grid-gap:20px;
               color: white;
               font-weight: 20px;
               .characterImages{
                   img{
                       width:100%;
                   }
               }
                .characterIntro{
                    margin-top:50px
               }
                .characterInforBasic{
                    margin-top:50px;
                    img{
                        width:50px;
                        border-radius: 50%;
                    }
                    .characterEquipment{
                        margin-top: 50px;
                       .equipmentContent{
                           margin:20px;
                           display: grid;
                           grid-template-columns: repeat(4,1fr);
                       }
                    }
                    .characterSoulForce{
                        .soulForceContent{
                            margin:20px;
                            display: grid;
                            grid-template-columns: repeat(4,1fr);
                        }
                    }
                    .characterHiddenFate{
                        .hiddenFateContent{
                            margin:20px;
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            img{
                                width: 100px;
                            }
                        }
                    }
               }
           }
           .characterDetail{
               .detailInfor{
                    margin:70px 50px 0px 50px;
                    border-top:5px solid black;
                    padding:10px 0;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-gap:50px;
               }
           }
        }
    }
}
@media screen and (max-width: 900px) {
    .modalFighter {
        .modalContent {
            padding:20px;
            width:90%;
            .modalBody{
                .characterInfor{
                    padding:0 20px;
                    display: block;
                    .characterImages{
                        text-align: center;
                        img{
                            width:50%;
                        }
                    }
                    .characterInforBasic{
                        img{
                            width:80px;
                        }
                        .characterHiddenFate{
                            .hiddenFateContent{
                                img{
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .modalFighter {
        .modalContent {
            width: 100%;
            .modalBody{
                .characterInfor{
                    .characterImages{
                        img{
                            width:100%;
                        }
                    }
                    .characterInforBasic{
                        img{
                            width:50px;
                        }
                        .characterHiddenFate{
                            .hiddenFateContent{
                                img{
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
                .characterDetail{
                    .detailInfor{
                        display: block;
                        padding:20px 0;
                        margin:0;
                    }
                }
            }
        }   
    }
}
