.modalForm {    
  height: 100%;
    width: auto;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    .buttonForm {
      width: 50%;
      margin: 0 auto;
    }
  }

