/// NOTIFITCATION 
.notification{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white
//   .buttonNoti{

//   }
}
