.notification{
   @include setPosition();
    z-index: 30;
    .notiContent{
        text-align: center;
        background: white;
        width: 300px;
        border-radius:5px;
        box-shadow: 1px 1px 10px  black;
        animation:openForm 0.3s linear;
        button{
            width:100px;
            margin-left: 10px;
        }
    }
}
